* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	width: 90%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
 }

 .titleSection {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	border-bottom: 5px solid #056CF2;
	display: inline-block;
	text-align: center;
	margin: 30px auto;
 }

.header {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
	z-index: 1;
	
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.headerLeft {
			display: flex;
			align-items: center;

			a {
				display: flex;
				align-items: center;
			}

			span {
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	
		.headerRight {
	
			ul {
				list-style: none;
				display: flex;
				font-size: 20px;
				line-height: 23px;
	
				li {
					padding: 5px 15px;
					box-sizing: border-box;
					border: 2px solid transparent;
					transition: ease-in-out 0.2s;
					cursor: pointer;

					&:hover {
						border-bottom: 2px solid #056CF2;
					}
					
				}
			}

			@media (max-width: 768px) {
				display: none;
			}
		}

		.burger {
			display: none;

			span {
				width: 30px;
				height: 3px;
				background-color: #056CF2;
				margin: 3px 0;
				transition: all ease-in-out 0.2s;
			}

			@media (max-width: 768px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 2;
			}

			&Active {
				span {
					&:nth-child(2) {
						display: none;
					}

					&:first-child {
						transform: translateY(4.5px) rotate(45deg);
					}

					&:last-child {
						transform: translateY(-4.5px) rotate(-45deg);
					}
				}
			}
		}
	} 

	.burgerMenu {
		position: fixed;
		width: 60vw;
		height: 100vh;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #1F1F1F;
		color: white;

		ul {
			margin-top: 50px;
			list-style: none;
			font-size: 20px;

			li {
				margin: 30px 0;
				text-align: center;
			}
		}
	}
}

.main {
	font-family: 'Roboto', sans-serif;
	margin-top: 100px;

	&>section:not(:first-child) {
		padding-top: 50px;
	}

	.news {
		// background-repeat: no-repeat;
		// background-position: right;
		margin-bottom: 20px;

		.container {
					background-repeat: no-repeat;
					background-position: right;
			.body {
					background-color: #1F1F1F;
					color: white;
					min-height: 300px;
					max-width: 500px;
					position: relative;
	
					&::after {
						content: "";
						z-index: -1;
						position: absolute;
						background-color: #056CF2;
						width: 100%;
						height: 100%;
						left: 20px;
						top: 20px;
					}
	
					h3 {
						font-size: 24px;
						line-height: 28px;
						padding: 20px 20px;
					}
		
					h2 {
						font-weight: 500;
						font-size: 40px;
						line-height: 47px;
						padding: 0px 20px;
					}
		
					.time {
						font-weight: 500;
						font-size: 18px;
						line-height: 21px;
						margin: 20px 20px;
						display: block;
						padding-left: 25px;
						// background-image: url("icons/timer.svg");
						background-position: left;
						background-repeat: no-repeat;
					}
		
					button {
						font-weight: 500;
						font-size: 20px;
						line-height: 23px;
						text-align: center;
						text-transform: uppercase;
						color: #056CF2;
						background-color: transparent;
						padding: 10px 25%;
						border: 3px solid #056CF2;
						box-sizing: border-box;
						border-radius: 13px;
						display: block;
						margin: 50px auto;
					}
			}
		}
			
	}

	.about {

		.container {
	
			display: flex;
			flex-direction: column;
			
			.body {
				display: flex;
				flex-wrap: wrap;
	
				.item {
	
					max-width: 50%;
					padding: 15px;
	
					@media (max-width: 768px) {
						max-width: 100%;
					}
					
					h3 {
						font-size: 22px;
						line-height: 26px;
						margin: 22px 0;
						background-repeat: no-repeat;
						background-position: left;
						background-size: contain;
						padding: 0 35px;

						@media (max-width: 350px) {
							background-size: 25px;
						}
					}
	
					span {
						font-size: 18px;
						line-height: 21px;
					}
				}
			}
		}
	}

	.articles {
		display: flex;
		flex-direction: column;
	}

	.webinars {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 0;

		.container {
			display: block;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// flex-wrap: wrap;
		}
	}

	.partners {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0;

		.container {
			// display: flex;
			// flex-direction: column;
			// align-items: center;

			.partner {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				max-width: 100%;
				min-height: 200px;
				margin: 0 80px;


				img {
					width: 100%;
				}
			}
		}
	}
}

.paperPopup {
	width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 15;
    background-color: white;
    top: 0;
    left: 0;
	overflow: hidden;

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			font-size: 30px;
		}

		span {
			font-size: 18px;
			padding: 0 5px;
		}

		button {
			display: block;
			background-color: transparent;
			font-size: 30px;
			// border: 2px solid black;
			// border-radius: 50%;
			border: none;
			width: 45px;
			cursor: pointer;
		}
	}

	.text {
		margin: 30px 0;
	}
}

